In [32]:
import pandas as pd
from time import time

In [33]:
df_green_taxi = pd.read_csv('green_tripdata_2019-01.csv.gz')
df_with_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [34]:
df_green_taxi.count()

VendorID                 630918
lpep_pickup_datetime     630918
lpep_dropoff_datetime    630918
store_and_fwd_flag       630918
RatecodeID               630918
PULocationID             630918
DOLocationID             630918
passenger_count          630918
trip_distance            630918
fare_amount              630918
extra                    630918
mta_tax                  630918
tip_amount               630918
tolls_amount             630918
ehail_fee                     0
improvement_surcharge    630918
total_amount             630918
payment_type             630918
trip_type                630918
congestion_surcharge      84538
dtype: int64

In [3]:
df_green_taxi.lpep_pickup_datetime = pd.to_datetime(df_green_taxi.lpep_pickup_datetime)
df_green_taxi.lpep_dropoff_datetime = pd.to_datetime(df_green_taxi.lpep_dropoff_datetime)

In [4]:
from sqlalchemy import create_engine

In [5]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [6]:
print(pd.io.sql.get_schema(df_green_taxi, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [52]:
df_iter = pd.read_csv('green_tripdata_2019-01.csv.gz', iterator=True, chunksize=100000)

In [47]:
df = next(df_iter)

In [48]:
len(df)

100000

In [49]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [50]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [53]:
df_iter = pd.read_csv('green_tripdata_2019-01.csv.gz', iterator=True, chunksize=100000)

while True: 
    t_start = time()

    df = next(df_iter)

    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
    df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 29.521 second
inserted another chunk, took 16.761 second
inserted another chunk, took 15.964 second
inserted another chunk, took 16.988 second
inserted another chunk, took 18.784 second
inserted another chunk, took 16.215 second
inserted another chunk, took 5.082 second

StopIteration:

In [79]:
df_with_zones

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [58]:
print(pd.io.sql.get_schema(df_with_zones, name='green_taxi_data_zones', con=engine))

CREATE TABLE green_taxi_data_zones (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [59]:
df_with_zones.to_sql(name='green_taxi_data_zones', con=engine, if_exists='append',index=False)

265

In [60]:
df_with_zones

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]